body{
	color: green;
	background-image:url(back.jpg);
	background-repeat:repeat;
}
h1{
	
	font-size: 50px;
	line-height: 1.5cm;
	color: purple;
	padding: 20px;
	border-color: black;
	border-width: 2px;
	border-style: dotted;
	background-image: url(a.png);
	border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius:10px;
	border-bottom-style: solid;	
	border-bottom-color: red;
	margin-left: 200px;
	margin-right: 200px;

}
p.blue{
	color: blue;
	font-size: 25px;
	font-family: helvetica; 
}
p.purple{
	color: purple;
	font-size: 25px;
	font-family: helvetica;
}
h1 {
	color: pink;
	font-family: verdana, Arial, Geneva, Arial black;
	font-weight: bolder;
	text-align: center;
}
h2{
	border: 1px dotted black;
}

.underline{
	text-decoration: underline;
}
h5{
	background-color: HOTPINK;
	font-size: 25px;
	line-height: 1.5cm;
	color: purple;
	padding: 20px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin: 20px;
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
	}
	h6{
	font-size: 40px;
	line-height: 1.5cm;
	color: purple;
	padding: 20px;
	border-color: black;
	border-width: 2px;
	border-style: dotted;
	background-image: url(a.jfif);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius:10px;
	border-bottom-style: dashed;	
	border-bottom-color: green;
	text-align: center;

	}
.imaec{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 3px;
	background-color: silver;
	border-color: black;
	border-style: solid;
}
.hight{
	background-color: yellow; 
}